@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9655 0.0119 101.4816);
  --foreground: oklch(0.2343 0.0301 76.5681);
  --card: oklch(0.9839 0.0093 99.9809);
  --card-foreground: oklch(0.2343 0.0301 76.5681);
  --popover: oklch(0.9839 0.0093 99.9809);
  --popover-foreground: oklch(0.2343 0.0301 76.5681);
  --primary: oklch(0.6996 0.1502 26.9488);
  --primary-foreground: oklch(0.9839 0.0093 99.9809);
  --secondary: oklch(0.9348 0.0187 100.1344);
  --secondary-foreground: oklch(0.2609 0.0283 82.5734);
  --muted: oklch(0.9446 0.0148 98.2903);
  --muted-foreground: oklch(0.4743 0.0305 76.4496);
  --accent: oklch(0.7917 0.1211 31.7204);
  --accent-foreground: oklch(0.2202 0.0295 79.0671);
  --destructive: oklch(0.6349 0.1953 29.9549);
  --destructive-foreground: oklch(0.9839 0.0093 99.9809);
  --border: oklch(0.8746 0.0192 96.8932);
  --input: oklch(0.9042 0.0202 100.6062);
  --ring: oklch(0.6996 0.1502 26.9488);
  --chart-1: oklch(0.6996 0.1502 26.9488);
  --chart-2: oklch(0.6391 0.1189 25.4272);
  --chart-3: oklch(0.8186 0.0601 31.371);
  --chart-4: oklch(0.5611 0.0897 24.8);
  --chart-5: oklch(0.4904 0.0704 21.1217);
  --sidebar: oklch(0.9449 0.0175 96.1087);
  --sidebar-foreground: oklch(0.2343 0.0301 76.5681);
  --sidebar-primary: oklch(0.6996 0.1502 26.9488);
  --sidebar-primary-foreground: oklch(0.9839 0.0093 99.9809);
  --sidebar-accent: oklch(0.7917 0.1211 31.7204);
  --sidebar-accent-foreground: oklch(0.2202 0.0295 79.0671);
  --sidebar-border: oklch(0.8858 0.0203 100.6144);
  --sidebar-ring: oklch(0.6996 0.1502 26.9488);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Libre Baskerville, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0.55rem;
  --shadow-x: 3px;
  --shadow-y: 3px;
  --shadow-blur: 6px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.14;
  --shadow-color: #2f5d46;
  --shadow-2xs: 3px 3px 6px 0px hsl(150 32.8571% 27.451% / 0.07);
  --shadow-xs: 3px 3px 6px 0px hsl(150 32.8571% 27.451% / 0.07);
  --shadow-sm:
    3px 3px 6px 0px hsl(150 32.8571% 27.451% / 0.14),
    3px 1px 2px -1px hsl(150 32.8571% 27.451% / 0.14);
  --shadow:
    3px 3px 6px 0px hsl(150 32.8571% 27.451% / 0.14),
    3px 1px 2px -1px hsl(150 32.8571% 27.451% / 0.14);
  --shadow-md:
    3px 3px 6px 0px hsl(150 32.8571% 27.451% / 0.14),
    3px 2px 4px -1px hsl(150 32.8571% 27.451% / 0.14);
  --shadow-lg:
    3px 3px 6px 0px hsl(150 32.8571% 27.451% / 0.14),
    3px 4px 6px -1px hsl(150 32.8571% 27.451% / 0.14);
  --shadow-xl:
    3px 3px 6px 0px hsl(150 32.8571% 27.451% / 0.14),
    3px 8px 10px -1px hsl(150 32.8571% 27.451% / 0.14);
  --shadow-2xl: 3px 3px 6px 0px hsl(150 32.8571% 27.451% / 0.35);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2049 0.0101 125.0669);
  --foreground: oklch(0.9446 0.0148 98.2903);
  --card: oklch(0.2445 0.0112 114.9121);
  --card-foreground: oklch(0.9446 0.0148 98.2903);
  --popover: oklch(0.2445 0.0112 114.9121);
  --popover-foreground: oklch(0.9446 0.0148 98.2903);
  --primary: oklch(0.7209 0.1602 27.1775);
  --primary-foreground: oklch(0.2049 0.0101 125.0669);
  --secondary: oklch(0.2846 0.0128 120.1824);
  --secondary-foreground: oklch(0.9446 0.0148 98.2903);
  --muted: oklch(0.2764 0.0129 120.211);
  --muted-foreground: oklch(0.7209 0.0212 106.9195);
  --accent: oklch(0.3197 0.0303 28.475);
  --accent-foreground: oklch(0.9446 0.0148 98.2903);
  --destructive: oklch(0.6196 0.1891 29.8284);
  --destructive-foreground: oklch(0.9446 0.0148 98.2903);
  --border: oklch(0.3206 0.0124 120.0753);
  --input: oklch(0.3206 0.0124 120.0753);
  --ring: oklch(0.7209 0.1602 27.1775);
  --chart-1: oklch(0.7209 0.1602 27.1775);
  --chart-2: oklch(0.6606 0.1204 25.2572);
  --chart-3: oklch(0.5611 0.0897 24.8);
  --chart-4: oklch(0.8186 0.0601 31.371);
  --chart-5: oklch(0.4904 0.0704 21.1217);
  --sidebar: oklch(0.235 0.0116 122.2957);
  --sidebar-foreground: oklch(0.9446 0.0148 98.2903);
  --sidebar-primary: oklch(0.7209 0.1602 27.1775);
  --sidebar-primary-foreground: oklch(0.2049 0.0101 125.0669);
  --sidebar-accent: oklch(0.3197 0.0303 28.475);
  --sidebar-accent-foreground: oklch(0.9446 0.0148 98.2903);
  --sidebar-border: oklch(0.3206 0.0124 120.0753);
  --sidebar-ring: oklch(0.7209 0.1602 27.1775);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Libre Baskerville, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0.55rem;
  --shadow-x: 3px;
  --shadow-y: 3px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: #5b6d46;
  --shadow-2xs: 3px 3px 2px 0px hsl(87.6923 21.7877% 35.098% / 0.07);
  --shadow-xs: 3px 3px 2px 0px hsl(87.6923 21.7877% 35.098% / 0.07);
  --shadow-sm:
    3px 3px 2px 0px hsl(87.6923 21.7877% 35.098% / 0.15),
    3px 1px 2px -1px hsl(87.6923 21.7877% 35.098% / 0.15);
  --shadow:
    3px 3px 2px 0px hsl(87.6923 21.7877% 35.098% / 0.15),
    3px 1px 2px -1px hsl(87.6923 21.7877% 35.098% / 0.15);
  --shadow-md:
    3px 3px 2px 0px hsl(87.6923 21.7877% 35.098% / 0.15),
    3px 2px 4px -1px hsl(87.6923 21.7877% 35.098% / 0.15);
  --shadow-lg:
    3px 3px 2px 0px hsl(87.6923 21.7877% 35.098% / 0.15),
    3px 4px 6px -1px hsl(87.6923 21.7877% 35.098% / 0.15);
  --shadow-xl:
    3px 3px 2px 0px hsl(87.6923 21.7877% 35.098% / 0.15),
    3px 8px 10px -1px hsl(87.6923 21.7877% 35.098% / 0.15);
  --shadow-2xl: 3px 3px 2px 0px hsl(87.6923 21.7877% 35.098% / 0.38);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
